/* universal styles */

html {
    font-family: Verdana;
    font-size: 16px;
}

body {
    background-color: black;
    text-align: center;
    color: white;
}

/* header */
.mainTitle {
    font-weight: normal;
    font-size: 50px;
}

/* main */

/* footer */