/* universal styles */

html {
    font-family: Verdana;
    font-size: 16px;
}

body {
    background-color: black;
    text-align: center;
    color: white;
}

/* header */

.mainTitle {
    font-weight: normal;
    font-size: 50px;
}

.downloadLink {
    color: aquamarine;
    font-size: 16px;
}

/* main */

.subtitle {
    font-weight: 300;
    font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;
}

/* footer */

